body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@font-face {
  font-family: 'bold';
  src: url(./components/fonts/Inter-Bold\ \(1\).woff2);
}
@font-face {
  font-family: 'semibold';
  src: url(./components/fonts/Inter-SemiBold\ \(1\).woff2);
}
@font-face {
  font-family: 'regular';
  src: url(./components/fonts/Inter-Regular\ \(1\).woff2);
}

